.card-container {
  width: 400px;
  height: 350px;
  display: grid;
  place-items: center;
  border-radius: 36px;
  padding: 24px;
  background: #dda1ba;
}

.glass-panel {
  position: relative;
  width: 370px;
  height: 350px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 32px;
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);
  border: 2px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4), inset 0 10px 30px rgba(255, 255, 255, 0.4),
    inset 0 -10px 30px rgba(255, 255, 255, 0.15);
  overflow: hidden;
}

.inner-glow {
  position: absolute;
  inset: 0;
  border-radius: 32px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(200, 150, 255, 0.15) 100%
  );
  pointer-events: none;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
}

.tabs-box {
  display: flex;
  gap: 24px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 5px;
  backdrop-filter: blur(10px);
  width: 15rem;
  justify-content: space-between;
}

.tab {
  margin: 0;
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 8px;
  transition: 0.25s ease;
  font-weight: 500;
  width: 5rem;
  text-align: center;
}

.tab.active {
  background: white;
  color: black;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

.settings-btn {
  border-radius: 50%;
  background: rgba(238, 237, 241, 0.8);
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-btn img {
  width: 24px;
  height: 24px;
}

.days {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-inline: 14px;
  margin-bottom: 1rem;
}

.days p {
  padding: 5px;
  border-radius: 10px;
  transition: 0.25s;
  margin: 0;
}

.days p.active {
  background: white;
  color: black;
}

.dates {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.date-header {
  font-size: 3.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-block: 1rem;
}

.dates-wheel {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  border-block: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.dates-wheel::-webkit-scrollbar {
  display: none;
}

.dates {
  display: flex;
  gap: 18.5px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
}

.dates p {
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
  white-space: nowrap;
  font-size: 1.1rem;
  margin: 0;
}

.dates p.active {
  background: white;
  color: black;
  transform: scale(1.2);
}

.input-box {
  position: relative;
  width: 180px;
}

.input-box input {
  width: 70%;
  padding: 10px 12px 10px 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.input-box input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.9;
  pointer-events: none;
}

.new-event {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 2rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 9px;
  margin: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 1rem;
  justify-content: space-between;
  margin-top: 1.5rem;
}
