
.about-me-container {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 2rem 0;
}

.about-me-section {
  display: flex;
  justify-content: space-between;
  width: 72rem;
  max-width: 90%;
  gap: 2rem;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.carousel-container {
}

.section-subtitle {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.main-title {
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}

.description {
  font-size: 20px;
  color: #998f8f;
  text-align: left;
  width: 35rem;
  max-width: 100%;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.highlighted-title {
  background: linear-gradient(90deg, #ff8a00, #e94057, #9d4edd, #00f2ff, #ff8a00);
  background-size: 300% 300%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  text-shadow: 0 0 40px #e94057, 0 0 80px #9d4edd, 0 0 120px #00f2ff;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.highlighted-title {
  background: linear-gradient(90deg, #ff8a00, #e94057, #9d4edd, #00f2ff, #ff8a00);
  background-size: 300% 300%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0 0 40px #e94057, 0 0 80px #9d4edd, 0 0 120px #00f2ff;

  animation: gradient-shift 10s ease infinite;
}

@media (max-width: 1024px) {
  .about-me-section {
    flex-direction: column;
    width: 90%;
  }

  .description {
    width: auto;
  }
}