<div class="about-me-container">
  <section class="about-me-section">
    <div class="text-content">
      <h4 class="section-subtitle">about me</h4>
      <h1 class="main-title">I'm Honey Soni, a</h1>
      <h1 class="main-title highlighted-title">creative developer</h1>
      <p class="description">
        I'm Honey soni, a proactive frontend engineer who loves building smooth, modern, and engaging
        web experiences. While my core strength lies in frontend development, I also work confidently
        on the backend using Node.js, Express, and NestJS, giving me the flexibility to deliver
        complete, end-to-end solutions.
      </p>
      <p class="description">
        I enjoy solving complex problems with clean, efficient code and continuously growing my skills
        in the ever-evolving web ecosystem.
      </p>
      <p class="description">
        Outside of coding, I love exploring new ideas and improving myself. Each day, I aim to learn
        something new and create work that makes an impact.
      </p>
    </div>
    <div class="carousel-container">
      <app-carousel></app-carousel>
    </div>
  </section>
</div>