<div>
  <div style="display: flex; justify-content: center">
    <section style="display: flex; justify-content: space-between; width: 72rem">
      <div>
        <h4 style="color: #fff; text-transform: uppercase">about me</h4>
        <h1 style="color: #fff; margin: 0">I'm Honey Soni, a</h1>
        <h1
          style="
            color: #fff;
            margin: 0;
            background: linear-gradient(90deg, #ff8a00, #e94057, #9d4edd, #00f2ff, #ff8a00);
            text-shadow: 0 0 40px #e94057, 0 0 80px #9d4edd, 0 0 120px #00f2ff;
            background-size: 300% 300%;
            color: transparent;
            background-clip: text;
          "
        >
          creative developer
        </h1>
        <p
          style="font-size: 20px; color: #998f8f; text-align: left; width: 35rem; line-height: 1.3"
        >
          I'm Honey soni, a proactive frontend engineer who loves building smooth, modern, and
          engaging web experiences. While my core strength lies in frontend development, I also work
          confidently on the backend using Node.js, Express, and NestJS, giving me the flexibility
          to deliver complete, end-to-end solutions.
        </p>
        <p
          style="font-size: 20px; color: #998f8f; text-align: left; width: 35rem; line-height: 1.3"
        >
          I enjoy solving complex problems with clean, efficient code and continuously growing my
          skills in the ever-evolving web ecosystem.
        </p>
        <p
          style="font-size: 20px; color: #998f8f; text-align: left; width: 35rem; line-height: 1.3"
        >
          Outside of coding, I love exploring new ideas and improving myself. Each day, I aim to
          learn something new and create work that makes an impact.
        </p>
      </div>
      <div>
        <app-carousel></app-carousel>
      </div>
    </section>
  </div>
</div>
