a {
    text-decoration: none;
    color: inherit;
}

.logo {
    color: #fafafa;
    font-size: var(--text-2xl);
}

.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 6rem;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
  background: rgba(255, 255, 255, 0.1);  
  padding: 0.9rem 2rem;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.nav-links a {
  color: #e0e0e0;
  font-weight: var(--font-weight-medium);
  font-size: var(--text-base);
  padding: 0.5rem 0;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links li {
    color: #fafafa;
    list-style: none;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
}

.nav-links a.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 3px;
  background: linear-gradient(90deg, #00d4ff, #7b00ff);
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 212, 255, 0.6);
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 50%;
  background: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links a:hover::before {
  width: 100%;
}

github-link img {
  filter: invert(1); /* Makes black SVG white */
  transition: transform 0.3s ease;
}

.github-link:hover img {
  transform: scale(1.2);
}
