.projects-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 0;
}

.projects-container {
  position: relative;
  width: 100%;
}

.scroll-line {
  width: 6px;
  height: 100%;
  background: #222;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 2;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  align-items: flex-start;
}

.project-name h2 {
  color: white;
  font-size: var(--text-xl);
  margin: 0;
}

.project-points {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-points li {
  margin-bottom: 16px;
  padding-left: 22px;
  position: relative;
  color: #fff;
  font-size: var(--text-lg);
  text-align: justify;
}

.project-points li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff8a00, #e94057, #9d4edd, #00f2ff);
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
