<div class="performance-card">
  <p class="performance-title">Performance</p>

  <h2 class="performance-amount">
    {{ totalAmount | currency }}
  </h2>

  <div class="performance-header">
    <p class="performance-subtitle">Real time updates</p>

    <div class="performance-legend">
      <p
        class="legend-item"
        (click)="selectView('this')"
        [class.dimmed]="!(selectedView === 'all' || selectedView === 'this')"
      >
        <span class="legend-dot this-month"></span>
        This Month
      </p>

      <p
        class="legend-item"
        (click)="selectView('last')"
        [class.dimmed]="!(selectedView === 'all' || selectedView === 'last')"
      >
        <span class="legend-dot last-month"></span>
        Last Month
      </p>
    </div>
  </div>

  <canvas
    #canvas
    class="performance-canvas"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()"
  >
  </canvas>
</div>
