<div class="container">
  <div class="main-content">
    <div class="card">
      <div class="image-container">
        <img
          src="https://plus.unsplash.com/premium_photo-1673292293042-cafd9c8a3ab3?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
      <h2>Honey Soni</h2>
      <h3 class="card-subtitle">
        A Software Engineer who has developed scalable, accessible and performant web applications.
      </h3>
      <div class="info-group">
        <img class="icon" src="assets/location.svg" alt="" />
        <p class="info-text">New Delhi, India</p>
      </div>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/honey-soni11" target="_blank">
          <img class="icon" src="assets/linkdin.svg" alt="" />
        </a>
        <a href="https://github.com/honeysoni116/Portfolio" target="_blank">
          <img class="icon" src="assets/github.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="bio-section">
      <div class="title-block">
        <h1 class="title-main">Software</h1>
        <h1 class="title-sub">Engineer</h1>
      </div>
      <div class="description-block">
        <p class="description-text">
          Frontend-focused Software Engineer with 3 years of experience designing and developing
          scalable, high-performance web applications. Proficient in React JS, JavaScript, HTML, CSS
          and experienced in backend development using Node.js, Express and NestJS. Specialized in UI
          modernization, large-scale migrations and building reusable, production-ready components
        </p>
      </div>
      <div class="marquee-container">
        <app-marquee></app-marquee>
      </div>
    </div>
  </div>
</div>