.exp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  width: 70rem;
  margin: 0 auto;
  color: #fff;
}

.exp-subtitle {
  text-transform: uppercase;
  color: #b7b7b7;
}

.exp-title {
  margin: 0;
  text-transform: uppercase;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.highlighted-title {
  background: linear-gradient(90deg, #ff8a00, #e94057, #9d4edd, #00f2ff, #ff8a00);
  background-size: 300% 300%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0 0 40px #e94057, 0 0 80px #9d4edd, 0 0 120px #00f2ff;

  animation: gradient-shift 10s ease infinite;
}

.exp-list {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.exp-list li {
  font-size: var(--text-lg);
  line-height: 1.4;
  margin-bottom: 12px;
  position: relative;
  padding-left: 24px;
  text-align: left; 
}

.exp-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff8a00, #e94057, #9d4edd, #00f2ff);
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
  box-shadow: 0 0 10px #e94057, 0 0 20px #9d4edd;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
