<div class="exp-wrapper">
  <h4 class="exp-subtitle">the experience</h4>

  <h1 class="exp-title highlighted-title">Software Engineer</h1>

  <ul class="exp-list">
    <li>Build modern, scalable and responsive UIs with React, JavaScript, HTML & CSS.</li>
    <li>Migrated the iZooto website from Angular to React using modern functional components.</li>
    <li>Improved performance with lazy loading, code splitting & optimized state management.</li>
    <li>Developed REST API integrations and reusable UI components with MUI.</li>
    <li>Ensured cross-browser compatibility and collaborated across design & backend teams.</li>
  </ul>
  <h4 class="exp-subtitle" style="margin-block: 5rem;">projects</h4>
  <app-project></app-project>
</div>
